/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*end meyer reset*/

*:before,
*:after {
  box-sizing: border-box;
}

/* COLORS */
/* pls green #55993C */
/* pls blue for icons #1E4E85*/
/* black text #101010 */
/* background blue #EDF2F7 */
/* white background #FCFCFC */
/* NEW PLS TEXT BLUE #19416F */
/* MB Design Grey Text #565657 */

html {
  color: #101010;
  font-family: lato, "Avenir", Raleway, sans-serif;
  font-size: 10px;
  scroll-behavior: smooth;
}

.container {
  display: grid;
  margin: 0 auto;
  width: 100%;
}

/* fonts */

h1 {
  font-family: lato, sans-serif;
  font-size: 5.8rem;
  font-weight: 600;
}

h2 {
  color: #101010;
  font-family: old-standard, serif;
  font-size: 3.2rem;
  font-weight: 400;
  font-style: normal;
  line-height: 4.8rem;
}

h3 {
  font-family: lato, sans-serif;
  font-size: 2.6rem;
  font-weight: 700;
  line-height: 3.2rem;
}

h4 {
  font-family: old-standard, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.8rem;
  text-transform: capitalize;
  text-decoration: underline;
}

h5 {
  color: #101010;
  font-family: lato, sans-serif;
  font-size: 1.8rem;
  font-style: italic;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2.4rem;
}

h6 {
  font-family: lato, sans-serif;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 600;
  text-transform: uppercase;
}

p {
  color: #19416f;
  font-family: lato, sans-serif;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3.2rem;
}

li {
  color: #19416f;
  font-family: lato, sans-serif;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2.4rem;
  padding-bottom: 0.4rem;
}

button {
  background-color: #1e4e85;
  color: #fcfcfc;
  font-family: lato, sans-serif;
  font-size: 1.4;
  font-style: normal;
  font-weight: 600;
  width: 14.7rem;
  height: 4.9rem;
}

/* MOBILE SIZE / BASE DESIGN */

/* IMAGES */

img {
  width: 100%;
  height: auto;
}

/* ICONIFY ICONS */
.iconify {
  padding-right: 0.8rem;
}

/* NOUN PROJECT ICONS */
/* USE FILTER FOR COLORS from this page https://codepen.io/sosuke/pen/Pjoqqp */
.noun-project-organics,
.noun-project-inorganics,
.value,
.scroll,
.rocket,
.briefcase,
.volatile,
.extractables,
.vapor,
.metals,
.wet-chemistry-icon {
  filter: invert(23%) sepia(20%) saturate(3762%) hue-rotate(186deg)
    brightness(98%) contrast(87%);
}

/* HEADER */

header {
  display: flex;
  flex-direction: row;
  padding: 1rem;
  justify-content: space-between;
}

.header-logo {
  width: 4.8rem;
  height: 4.6rem;
}

.menu-dropdown {
  display: flex;
  flex-direction: column;
}

.menu-dropdown h6 {
  padding: 1.6rem;
}

/* FOOTER */

footer {
  padding: 1rem 1rem 3rem;
}

.footer-logo {
  width: 16.8rem;
}

.footer-contact-list {
  padding: 3.2rem 0;
}

.footer-contact-list li {
  font-weight: 600;
  text-transform: uppercase;
}

.back-to-top {
  text-align: center;
  padding: 3.2rem 0;
}

.back-to-top a {
  color: #101010;
  font-size: 2rem;
  text-transform: capitalize;
}

.back-to-top a:hover {
  color: #55993c;
}

.back-to-top a:visited {
  color: #1e4e85;
}

.mbdesign {
  text-align: center;
  padding: 3rem 0 0;
}

.mbdesign p {
  color: #565657;
  text-transform: lowercase;
}

.mbdesign a {
  text-decoration-line: none;
}

.mbdesign a:hover {
  color: #55993c;
}

.mbdesign a:visited {
  color: #1e4e85;
}

section {
  border-bottom: solid #55993c;
  border-width: thin;
  /* display: grid; */
  padding: 3.2rem 1rem;
}

.green-text {
  color: #55993c;
}

/* MASTER DIV BACKGROUND  */
.colored-background {
  background-color: #edf2f7;
}

/* LANDING */

.hero {
  background-image: url(/images/image-final-landing-hero-shutterstock_421927375.jpg);
}

.hero:background {
  height: 44.9rem;
}

.hero-sliders {
  grid-column: col start 1 / span 4;
  grid-row: 1;
}

.hero-tag-slider-two,
.hero-tag-slider-three h3 {
  padding: 0.8rem 0;
}

.landing-one p {
  padding-top: 3.2rem;
}

.landing-two h2 {
  padding-bottom: 0.8rem;
  text-align: center;
}

.noun-project-organics,
.noun-project-inorganics {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 3.2rem;
  width: 16.7rem;
}

.logo-and-label {
  padding-bottom: 4rem;
}

.logo-and-label h3 {
  padding-bottom: 2.4rem;
  text-align: center;
}

.landing-three h5 {
  padding-bottom: 3.2rem;
  max-width: 41rem;
}

.landing-three,
.blue-text {
  padding-top: 1.6rem;
}
.permit-logo-and-header {
  text-align: center;
  padding-bottom: 1.6rem;
}

.landing-certifications {
  padding-top: 2.4rem;
}

.contact-form,
.careers {
  border-bottom: none;
}

/* TESTING */

.organics-soil-vapor {
  border-bottom: none;
}

.organics-head h2 {
  text-align: center;
}

.organics-volatile h3 {
  text-align: center;
}

.volatile-header,
.volatile-two,
.volatile-three {
  margin: auto;
  padding: 2.4rem;
}

.volatile-two-and-three {
  border-bottom: none;
}

.volatile-header h4 {
  padding: 2.4rem 0;
  text-align: center;
}

.volatile-three h4 {
  padding: 2.4rem 0;
  text-align: center;
}

.volatile-two h4 {
  padding: 2.4rem;
  text-align: center;
}

.volatile,
.extractables,
.vapor {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 7.4rem;
}

.organics-header h3 {
  color: #55993c;
  padding: 3.2rem 0;
  text-align: center;
}

.extractables-header h3 {
  color: #55993c;
  padding: 3.2rem 0;
  text-align: center;
}

.extractables-header {
  padding-bottom: 1.6rem;
}

.organics-soil-vapor h3 {
  color: #55993c;
  padding: 3.2rem 0 1.6rem;
  text-align: center;
}

.organics-extractables h4 {
  text-align: center;
  padding-bottom: 1.6rem;
}

.icon-label h4 {
  padding-top: 1.6rem;
}

.icon-label {
  margin: auto;
  padding-bottom: 2.4rem;
}

.icon-label h4 {
  text-align: center;
}

.extractables-secondary {
  border-bottom: none;
}

.organics-soil-vapor h4 {
  padding: 1.6rem 0;
  text-align: center;
}

.soil-vapor-secondary {
  border-bottom: none;
}

.inorganics-head h2 {
  text-align: center;
}

.inorganics-metals-cations h3 {
  color: #55993c;
  text-align: center;
  padding-bottom: 2.4rem;
}

.metals {
  display: block;
  margin: auto;
  width: 7.4rem;
}

.wet-chemistry h3 {
  color: #55993c;
  padding: 2.4rem 0;
  text-align: center;
}

.wet-chemistry-icon {
  display: block;
  margin: auto;
  padding-bottom: 1.6rem;
  width: 6rem;
}

.inorganics-metals-cations,
.wet-chemistry,
.inorganics-head {
  border-bottom: none;
}

/* SERVICES */

#services {
  padding-bottom: 1.6rem;
}

.services-hazardous-waste h3 {
  padding-top: 3.2rem;
  text-align: center;
}

.services-soil h3 {
  padding-top: 3.2rem;
  text-align: center;
}

.services-water-services h3 {
  padding-top: 3.2rem;
  text-align: center;
}

.services-soil-vapor h3 {
  padding-top: 3.2rem;
  text-align: center;
}

.mobile-laboratory h3 {
  padding-top: 3.2rem;
  text-align: center;
}

.field-services h3 {
  padding-top: 3.2rem;
  text-align: center;
}

.rapid-response h3 {
  padding-top: 3.2rem;
  text-align: center;
}

.services-hazardous-waste p {
  padding-top: 2.4rem;
}

.services-soil-vapor p {
  padding: 2.4rem 0;
}

.services-soil p {
  padding: 2.4rem 0;
}

.services-water-services p {
  padding: 2.4rem 0;
}

.field-services p {
  padding: 2.4rem 0;
}

.rapid-response p {
  padding: 2.4rem 0;
}

.methods-list {
  padding: 2.4rem 0;
}

.methods-list h4 {
  padding: 0.8rem 0;
}
.services-soil-vapor-list p {
  padding: 0.4rem;
}

.mobile-laboratory p {
  padding: 2.4rem 0;
}

.chain-of-custody .iconify {
  padding-right: 0;
  padding-bottom: 3.2rem;
}

.credit-application .iconify {
  padding-right: 0;
  padding-bottom: 3.2rem;
}

.credit-card-authorization .iconify {
  padding-right: 0;
  padding-bottom: 3.2rem;
}

.resource-forms .iconify {
  padding-right: 0;
  padding-bottom: 3.2rem;
}

.chain-of-custody,
.credit-application,
.resource-forms,
.credit-card-authorization h3 {
  color: #19416f;
}

/* RESOURCES */

.resource-forms {
  border-bottom: none;
}

.resource-forms h2 {
  text-align: center;
}

/* MIGHT NEED TO ADJUST ICONS B/C ICONIFY FORMAT */
.chain-of-custody,
.credit-application,
.credit-card-authorization,
.list-of-services {
  text-align: center;
  padding: 2.4rem 0;
}

/* ABOUT US */

.company-values,
.history,
.mission,
.careers,
h2 {
  padding-bottom: 0.8rem;
}

#about-us {
  padding: 3.2rem;
  text-align: center;
}

.about-us-hero img {
  padding: 0 1rem;
}

.value {
  display: block;
  margin: auto;
  padding: 3.2rem;
  width: 7.4rem;
}
.values-list {
  padding: 3.2rem 0;
}

.scroll {
  display: block;
  margin: auto;
  width: 7.1rem;
}

.rocket {
  margin: auto;
  width: 5rem;
}

.mission-quote {
  background-color: #edf2f7;
  border: solid #1e4e85;
  border-width: thin;
  margin: 2.4rem 0;
  padding: 1rem;
}

/* NEED TO FIGURE QUOTES OUT */
q {
  color: #55993c;
  content: open-quote;
  font-weight: bold;
  font-size: 4.1rem;
}

.quoted-person {
  text-align: right;
  text-decoration: underline;
}

.quoted-person-job {
  font-family: old-standard, serif;
  font-weight: 400;
  font-style: normal;
  line-height: 4.8rem;
  text-align: right;
  text-transform: uppercase;
}

.briefcase {
  margin: auto;
  width: 5rem;
}

.se-family-light {
  color: #565657;
  font-size: 1.6rem;
  font-style: italic;
  font-weight: 400;
}

/* TABLET SIZE */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  /* IMAGES */

  /* HEADER */

  /* FOOTER */

  .footer-logo{
    margin: auto;
  }

  .footer-contact-list{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2;
    padding-left: 13rem;
  }
 


  section {
    /* display: grid; */
  
    /* grid-gap: 2rem; */
    padding-left: 6rem;
    padding-right: 6rem;
  }

  /* LANDING */

  .landing-one{
    display: flex;
    flex-direction: column;
  }



  .landing-one-first-h3{
    padding-bottom: 2.4rem;
    padding-left: 8.4rem;
    width: 33.4rem;
  }

  .landing-one-second-h3{
    padding-left: 16.7rem;
    width: 33.4rem;
  }

  .landing-one p{
    margin: auto;
    max-width: 48rem;
  }

  .landing-two{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 8.4rem;
    padding-right: 8.4rem;
  }

  .column-two{
    padding-top: 30rem;
  }

  .landing-three{
    display: flex;
    flex-direction: column;
  }

  .landing-three h5{
    padding-left: 8.4rem;
    padding-top: 6.4rem;
  }

  .landing-lab{
    padding-bottom: 4.2rem;
    padding-left: 8.4rem;
    max-width: 41rem;
  }

  .landing-three p{
    padding-bottom: 3.2rem;
    padding-left: 8.4rem;
    max-width: 50rem;
  }
  .landing-certifications{
    padding-left: 8.4rem;
    padding-right: 8.4rem;
  }

  .contact-form{
    display: flex;
    flex-direction: column;
    padding-left: 14rem;
  }

  /* TESTING */
.organics-head{
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 48rem;
}

.noun-project-organics{
  width: 30rem;
}


.list-with-icons{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 4rem;
  padding-bottom: 2rem;
}

.column-two-of-four, .column-four-of-four{
  padding-top: 3.2rem;
}


.volatile-two-and-three{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: auto;
}

.organics-extractables h4{
  padding-bottom: 5.2rem;
}

.extractables-secondary {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.column-two-of-two{
  padding-top: 3.2rem;
}

.soil-vapor-secondary{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.inorganics-head{
  padding-bottom: 0;
}

.inorganics-metals-cations{
  padding-top: 0;
}

.inorganics-metals-cations h3{
  padding-bottom: 0;
}

.metals-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 28rem;
  padding-bottom: 2.4rem;

}

.metal-two{
  padding-top: 20rem;
}

.wet-chemistry-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}


  /* SERVICES */

  /* RESOURES */

  /* ABOUT US */

  /* TABLET SIZE */
}

/* DESKTOP SIZE */

/* ----------- Non-Retina Screens ----------- */
@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
  /* IMAGES */

  /* HEADER */

  /* FOOTER */

  section {
    /* display: grid;
    grid-gap: 2rem; */
    padding-left: 9rem;
    padding-right: 9rem;
  }

  /* LANDING */

.landing-one-first-h3{
  padding-left: 10rem;
  padding-bottom: 2.4rem;
}

.landing-one-second-h3{
  padding-left: 21rem;
  
}

.landing-one p{
  padding-left: 42rem;
  padding-right: 21rem;
}


.landing-two{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
 padding-left: 20rem;
  padding-right: 20rem;
}

.column-two{
  padding-top: 24rem;
}

/* NEED TO MAKE THIS GRID AREA */
.landing-three{
  display: grid;
  



  /* TESTING */

  /* SERVICES */

  /* RESOURES */

  /* ABOUT US */

  /* TABLET SIZE */
}

/* ----------- Retina Screens ----------- */
@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
  /* LANDING */

  /* TESTING */

  /* SERVICES */

  /* RESOURES */

  /* ABOUT US */
}
