/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*end meyer reset*/

*:before,
*:after {
  box-sizing: border-box;
}


/* colors */
/* PLS Green #55993C */
/* PLS Blue #1E4E85*/
/* Black #101010 */
/* Background Blue #EDF2F7 */
/* White Screen background #fcfcfc */

html {
  color: #101010;
  font-family: lato, "Avenir", Raleway, sans-serif;
  font-size: 10px;
  scroll-behavior: smooth;
}

.container {
  display: grid;
  margin: 0 auto;
  width: 100%;
}

/* fonts */

h1 {
  font-family: lato, sans-serif;
  font-size: 5.8rem;
  font-weight: 600;
}

h2 {
  font-family: old-standard, serif;
  font-size: 3.2rem;
  font-weight: 400;
  font-style: normal;
}

h3 {
  font-family: lato, sans-serif;
  font-size: 2.6rem;
  font-weight: 700;
  font-style: italic;
}

h4 {
  font-family: old-standard, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.8rem;
  text-decoration: underline;
}

h5 {
  font-family: lato, sans-serif;
  font-size: 1.8rem;
  font-style: italic;
  font-size: 1.8rem;
  font-weight: 700;
}

h6 {
  font-family: lato, sans-serif;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 600;
}

p {
  font-family: lato, sans-serif;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
}

button {
  font-family: lato, sans-serif;
  font-size: 1.4;
  font-style: normal;
  font-weight: 600;
}
