/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*end meyer reset*/

*:before,
*:after {
  box-sizing: border-box;
}

/* COLORS */
/* pls green #55993C */
/* pls blue for icons #1E4E85*/
/* black text #101010 */
/* background blue #EDF2F7 */
/* white background #FCFCFC */
/* NEW PLS TEXT BLUE #19416F */
/* MB Design Grey Text #565657 */

html {
  color: #101010;
  font-family: lato, "Avenir", Raleway, sans-serif;
  font-size: 10px;
  scroll-behavior: smooth;
}

.container {
  display: grid;
  margin: 0 auto;
  width: 100%;
}

/* fonts */

h1 {
  font-family: lato, sans-serif;
  font-size: 5.8rem;
  font-weight: 600;
}

h2 {
  color: #101010;
  font-family: old-standard, serif;
  font-size: 3.2rem;
  font-weight: 400;
  font-style: normal;
  line-height: 4.8rem;
}

h3 {
  font-family: lato, sans-serif;
  font-size: 2.6rem;
  font-weight: 700;
  line-height: 3.2rem;
}

h4 {
  font-family: old-standard, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.8rem;
  text-transform: capitalize;
  text-decoration: underline;
}

h5 {
  color: #101010;
  font-family: lato, sans-serif;
  font-size: 1.8rem;
  font-style: italic;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2.4rem;
}

h6 {
  font-family: lato, sans-serif;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 600;
  text-transform: uppercase;
}

p {
  color: #19416f;
  font-family: lato, sans-serif;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3.2rem;
}

li {
  align-content: top;
  color: #19416f;
  display: flex;
  font-family: lato, sans-serif;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2.4rem;
  padding-bottom: 0.4rem;
}


button {
  background-color: #1e4e85;
  color: #fcfcfc;
  font-family: lato, sans-serif;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 600;
  width: 14.7rem;
  height: 4.9rem;
}

label{
  display: block;
  font-family: lato, sans-serif;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 600;
  padding-bottom: .8rem;
  text-transform: uppercase;
}

/* MOBILE SIZE / BASE DESIGN */

/* IMAGES */

img {
  width: 100%;
  height: auto;
}

/* ICONIFY ICONS */
.iconify {
  display: inline-block;
  padding-right: .8rem;
  
  
}


/* NOUN PROJECT ICONS */
/* USE FILTER FOR COLORS from this page https://codepen.io/sosuke/pen/Pjoqqp */
.noun-project-organics,
.noun-project-inorganics,
.value,
.scroll,
.rocket,
.briefcase,
.volatile,
.extractables,
.vapor,
.metals,
.wet-chemistry-icon {
  filter: invert(23%) sepia(20%) saturate(3762%) hue-rotate(186deg)
    brightness(98%) contrast(87%);
}

/* HEADER */

/* NEW HEADER 1 */
/* .topnav{
  background-color:#fcfcfc;
  overflow: hidden;
}

.topnav a{
  display: block;
  float: right;
  color: #19416F;
  text-align: center;
  padding: 1.4rem 1.6rem;
  text-decoration: none;
}

.topnav .icon{
  display: none;
}

.menu-dropdown{
  float: right;
  overflow: hidden;
}

.menu-dropdown .menu-icon{
 border: none;
 outline: none;
 background-color: inherit;
 font-family: inherit;
 margin: 0;
 padding-top: 3rem ;
 padding-left: 7rem;
}

.menu-dropdown{
  display: none;
  position: absolute;
  background-color: #fcfcfc;
  min-width: 16rem;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.menu-dropdown h6{
  float: none;
  padding: 1.2rem 1.6rem;
  text-decoration: none;
  display: block;
  text-align: left;
}

.topnav a:hover, .menu-dropdown:hover .menu-icon{
  background-color: #555555;
} */


/* NEW HEADER 1 END */

/* NEW HEADER 2 */
.header {
  background-color: #fcfcfc;
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  position: fixed;
  width: 100%;
  z-index: 3;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #fcfcfc;
}

.header li a {
  display: block;
  font-family: lato, sans-serif;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 600;
  padding: 1rem 2rem;
  border-right: 1px solid #f4f4f4;
  text-decoration: none;  
  text-transform: uppercase;
}

.header li a:hover {
  background-color: #fcfcfc;
}

.header .logo {
  display: block;
  float: left;
  /* font-size: 2rem; */
  padding: 1rem 2rem;
  text-decoration: none;
}

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

.logo{
  width: 3.5rem;

}


/* h2.2 start */
.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* h2.3 start */
.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* NEW HEADER 2 END */

/* ORGINAL HEADER */
/* header {
  display: flex;
  flex-direction: row;
  padding: 1rem;
  justify-content: space-between;
} */

.header-logo {
  width: 4.8rem;
  height: 4.6rem;
}

/* ORIGINAL HEADER */
/* .menu-dropdown {
  display: flex;
  flex-direction: column;
} */

/* .menu-dropdown h6 {
  padding: 1.6rem;
} */


/* FOOTER */

footer {
  padding: 1rem 1rem 3rem;
}

.footer-logo {
  width: 16.8rem;
}

.footer-contact-list {
  padding: 3.2rem 0;
}

.footer-contact-list li {
  font-weight: 600;
  text-transform: uppercase;
}

.back-to-top {
  text-align: center;
  padding: 3.2rem 0;
  scroll-behavior: smooth;
}

.back-to-top a {
  color: #101010;
  font-size: 2rem;
  text-transform: capitalize;
}

.back-to-top a:hover {
  color: #55993c;
}

.back-to-top a:visited {
  color: #1e4e85;
}

.mbdesign {
  text-align: center;
  padding: 3rem 0 0;
}

.mbdesign p {
  color: #565657;
  text-transform: lowercase;
}

.mbdesign a {
  text-decoration-line: none;
}

.mbdesign a:hover {
  color: #55993c;
}

.mbdesign a:visited {
  color: #1e4e85;
}

/* MOBILE CONTACT FORM */

.contact-form h5{
  padding-bottom: 2rem;
}

.contact-form h6{
  padding-bottom: 1rem;
}

.contact-form-box{
  display: flex;
 flex-direction: column;
justify-content: space-around;
  padding: 2rem 0;
  width: 35rem;
}

.contact-name, .contact-email, .contact-phone, .contact-company{
  height: 3.5rem;
  margin-bottom: 1.6rem;
  width: 66%;
  border: #565657 1px solid;
}

.contact-message{
  height: 13.5rem;
  width: 100%;
  margin-bottom: 1.6rem;
}

.submit-button{
  background-color: #1e4e85;
  color: #fcfcfc;
  font-family: lato, sans-serif;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 600;
  width: 14.7rem;
  height: 4.9rem;
  /* margin-right: 9rem; */
}

.submit-button-div{
  text-align: right;
}

section {
  border-bottom: solid #55993c;
  border-width: thin;
  /* display: grid; */
  padding: 3.2rem 1rem;
}

.green-text {
  color: #55993c;
}

/* MASTER DIV BACKGROUND  */
.colored-background {
  background-color: #edf2f7;
}

/* LANDING */

.hero {
  background-image: url(/images/image-final-landing-hero-shutterstock_421927375.jpg);
  background-size: cover;
}

.hero:background {
  height: 44.9rem;
}

.slider {
  width: 45rem;
  text-align: center;
  overflow: hidden;
}

.hero-sliders {
  display: flex;
  min-height: 24rem;
  overflow-x: auto;
  overflow: hidden;
  scroll-snap-type: x mandatory;
  
  
  
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  
  /*
  scroll-snap-points-x: repeat(300px);
  scroll-snap-type: mandatory;
  */
}


.hero-sliders::-webkit-scrollbar {
  /* width: 10px;
  height: 10px; */
  display: none;
}
.hero-sliders::-webkit-scrollbar-thumb {
  /* background: black;
  border-radius: 10px; */
  display: none;
}
.hero-sliders::-webkit-scrollbar-track {
  background: transparent;
  display: none;
}

.hero-sliders > div {
  scroll-snap-align: start;
  flex-shrink: 0;
  width: 40rem;

  margin-top: 5rem;
  margin-right: 5rem;
  /* border-radius: 10px; */
  /* background: #eee; */
  transform-origin: center center;
  transform: scale(1);
  transition: transform 0.5s;
  position: relative;
  
  display: flex;
  justify-content: center;
  /* align-items: center; */
  /* font-size: 100px; */
}
.hero-sliders > div:target {
/*   transform: scale(0.8); */
}
#hero-slider-one, #hero-slider-two, #hero-slider-three{
  width: 42rem;
  text-align: left;
}

#hero-slider-two{
  padding-top: 5rem;
}

/* #hero-slider-one #hero-slider-two{
  display: flex;
  justify-content: center;
} */

.hero-icon-label{
  align-items: baseline;
  display: flex;
  flex-direction: column;
}

#hero-slider-one{
  align-items: center;
}

#hero-slider-two{
  display: flex;
  flex-direction: column;
  /* width: 40rem; */
  padding-left: .5rem;

}

#hero-slider-three{
  display: flex;
  flex-direction: column;
  
}

#hero-slider-two h3{
  display: flex;
  padding: 0.8rem 0;
}

#hero-slider-three h3 {
  display: flex;
  padding: 0.8rem 0;
}

.header-large-logo{
  padding: 2rem 0;
  width: 16.8rem;
}
.slider-button{
  padding-top: 2rem;
}

.slider-button a{
  padding: 2rem;
}

.landing-one-first-h3{
  padding-bottom: 2.4rem;
}
.landing-one p {
  padding-top: 3.2rem;
}

.landing-two h2 {
  padding-bottom: 0.8rem;
  text-align: center;
}

.noun-project-organics,
.noun-project-inorganics {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 3.2rem;
  width: 16.7rem;
}

.logo-and-label {
  padding-bottom: 4rem;
}

.logo-and-label h3 {
  padding-bottom: 2.4rem;
  text-align: center;
}

.landing-three h5 {
  padding-bottom: 3.2rem;
  max-width: 41rem;
}

.landing-three,
.blue-text {
  padding-top: 1.6rem;
}
.permit-logo-and-header {
  text-align: center;
  padding-bottom: 1.6rem;
}

.landing-certifications {
  padding-top: 2.4rem;
}

.certification-list li{
  align-items: baseline;
  display: flex;
}

.careers {
  border-bottom: none;
}

/* TESTING */

.organics-soil-vapor {
  border-bottom: none;
}

.organics-head{
  padding-top: 10rem;
}

.organics-head h2 {
  text-align: center;
}

.organics-volatile h3 {
  text-align: center;
}



.volatile-header,
.volatile-two,
.volatile-three {
  margin: auto;
  padding: 2.4rem;
}

.volatile-two-and-three {
  border-bottom: none;
}

.volatile-header h4 {
  padding: 2.4rem 0;
  text-align: center;
}

.volatile-three h4 {
  padding: 2.4rem 0;
  text-align: center;
}

.volatile-two h4 {
  padding: 2.4rem;
  text-align: center;
}

.volatile,
.extractables,
.vapor {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 7.4rem;
}

.organics-header h3 {
  color: #55993c;
  padding: 3.2rem 0;
  text-align: center;
}

.extractables-header h3 {
  color: #55993c;
  padding: 3.2rem 0;
  text-align: center;
}

.extractables-header {
  padding-bottom: 1.6rem;
}

.organics-soil-vapor h3 {
  color: #55993c;
  padding: 3.2rem 0 1.6rem;
  text-align: center;
}

.organics-extractables h4 {
  text-align: center;
  padding-bottom: 1.6rem;
}

.icon-label h4 {
  padding-top: 1.6rem;
}

.icon-label {
  margin: auto;
  padding-bottom: 2.4rem;
}

.icon-label h4 {
  text-align: center;
}

.extractables-secondary {
  border-bottom: none;
}

.organics-soil-vapor h4 {
  padding: 1.6rem 0;
  text-align: center;
}

.soil-vapor-secondary {
  border-bottom: none;
}

.inorganics-head h2 {
  text-align: center;
}

.inorganics-metals-cations h3 {
  color: #55993c;
  text-align: center;
  padding-bottom: 2.4rem;
}

.metals {
  display: block;
  margin: auto;
  width: 7.4rem;
}

.wet-chemistry h3 {
  color: #55993c;
  padding: 2.4rem 0;
  text-align: center;
}

.wet-chemistry-icon {
  display: block;
  margin: auto;
  padding-bottom: 1.6rem;
  width: 6rem;
}

.inorganics-metals-cations,
.wet-chemistry,
.inorganics-head {
  border-bottom: none;
}

/* MOBILE SERVICES */

#services {
  padding-bottom: 1.6rem;
}

/* .list-with-icons li{
  display: flex;
} */

.hero-image-small{
  padding-top: 5rem;
}

.resources-slider-div{
  text-align: center;
  overflow: hidden;
}

.resources-sliders {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  overflow: hidden;
  scroll-snap-type: x mandatory;
  
  
  
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  
  /*
  scroll-snap-points-x: repeat(300px);
  scroll-snap-type: mandatory;
  */
}


.resources-sliders::-webkit-scrollbar {
  /* width: 10px;
  height: 10px; */
 display: none;
}
.resources-sliders::-webkit-scrollbar-thumb {
  /* background: black;
  border-radius: 10px; */
  display: none;
}
.resources-sliders::-webkit-scrollbar-track {
  /* background: transparent; */
  display: none;
}

.resources-sliders > div {
  scroll-snap-align: start;
  flex-shrink: 0;
  width: 36rem;
  /* height: 300px; */
  margin-right: 5rem;
  /* border-radius: 10px; */
  /* background: #eee; */
  transform-origin: center center;
  transform: scale(1);
  transition: transform 0.5s;
  position: relative;
  
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* font-size: 100px; */
}
.resources-sliders > div:target {
/*   transform: scale(0.8); */
}
.resources-slider-button{
  padding: 2rem 0;
}

#services-hazardous-waste h3 {
  padding-top: 3.2rem;
  text-align: center;
}

#services-soil h3 {
  padding-top: 3.2rem;
  text-align: center;
}

#services-water-services h3 {
  padding-top: 3.2rem;
  text-align: center;
}

#services-soil-vapor h3 {
  padding: 3.2rem 0;
  text-align: center;
}

.mobile-laboratory h3 {
  padding-top: 3.2rem;
  text-align: center;
}

.field-services h3 {
  padding-top: 3.2rem;
  text-align: center;
}

.rapid-response h3 {
  padding-top: 3.2rem;
  text-align: center;
}

#services-hazardous-waste p {
  padding-top: 2.4rem;
  text-align: left;
}

#services-hazardous-waste, .list-with-icons, li{
  text-align: left;
}

#services-hazardous-waste, .services-image{
  height: 27rem;
  object-fit: cover;
}

#services-soil-vapor p {
  /* padding: 2.4rem 0; */
  text-align: left;
}

#services-soil p {
  text-align: left;
  padding: 2.4rem 0;
}

#services-water-services p {
  padding: 2.4rem 0;
  text-align: left;
}

.field-services p {
  padding: 2.4rem 0;
}

.rapid-response p {
  padding: 2.4rem 0;
}

.methods-list {
  padding: 2.4rem 0;
}

.methods-list h4 {
  padding: 0.8rem 0;
  text-align: left;
}
.services-soil-vapor-list p {
  padding: 0.4rem;
  text-align: left;
}

.mobile-laboratory p {
  padding: 2.4rem 0;
}

.chain-of-custody .iconify {
  padding-right: 0;
  padding-bottom: 3.2rem;
}

.credit-application .iconify {
  padding-right: 0;
  padding-bottom: 3.2rem;
}

.credit-card-authorization .iconify {
  padding-right: 0;
  padding-bottom: 3.2rem;
}

.resource-forms .iconify {
  padding-right: 0;
  padding-bottom: 3.2rem;
}

.chain-of-custody,
.credit-application,
.resource-forms,
.credit-card-authorization h3 {
  color: #19416f;
}

/* RESOURCES */

.resource-forms {
  border-bottom: none;
}

.resource-forms h2 {
  text-align: center;
}

/* MIGHT NEED TO ADJUST ICONS B/C ICONIFY FORMAT */
.chain-of-custody,
.credit-application,
.credit-card-authorization,
.list-of-services {
  text-align: center;
  padding: 2.4rem 0;
}

/* ABOUT US */

.company-values,
.history,
.mission,
.careers,
h2 {
  padding-bottom: 0.8rem;
}

#about-us {
  padding: 8.2rem 3.2rem 3.2rem;
  text-align: center;
}

.about-us-hero img {
  padding: 0 1rem;
}

.value {
  display: block;
  margin: auto;
  padding: 3.2rem;
  width: 7.4rem;
}
.values-list {
  padding: 3.2rem 0;
}

.scroll {
  display: block;
  margin: auto;
  width: 7.1rem;
}

.rocket {
  display: block;
  margin: auto;
  width: 5rem;
}

.briefcase{
  display: block;
  margin: auto;
}


.mission-quote {
  background-color: #edf2f7;
  border: solid #1e4e85;
  border-width: thin;
  margin: 2.4rem 0;
  padding: 1rem;
}

blockquote {
  position: relative;
  margin: 0.5em;
  padding: 0.5em 2em 0.5em 3em;
}
/* Thanks: http://callmenick.com/post/styling-blockquotes-with-css-pseudo-classes */
blockquote:before {
  position: absolute;
  font-size: 7em;
  line-height: 1;
  top: 0;
  left: 0;
  content: "\201C";
  color: #55993c;
}
blockquote:after {
  position: absolute;
 /* display: block; don't use this, it raised the quote too high from the bottom - defeated line-height? */
  float:right;
  font-size:7em;
  line-height: 1;
  right:0;
  bottom:-0.5em;
  content: "\201D";
  color: #55993c;
}

blockquote cite:before {
  content: "\2013";
}

/* NEED TO FIGURE QUOTES OUT */
q {
  color: #55993c;
  content: open-quote;
  font-weight: bold;
  font-size: 4.1rem;
}

.quoted-person {
  text-align: right;
  /* text-decoration: underline; */
}

.quoted-person-job {
  font-family: old-standard, serif;
  font-weight: 400;
  font-style: normal;
  line-height: 4.8rem;
  text-align: right;
  text-transform: uppercase;
}

.briefcase {
  margin: auto;
  width: 5rem;
}

.se-family-light {
  color: #565657;
  font-size: 1.6rem;
  font-style: italic;
  font-weight: 400;
}

/* 404 */


.error-page h1{
  color: #55993c;
  text-align: center;
  padding-top: 8rem;
}

.error-page img{
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-top: 5rem;
  width: 30rem;
}

.error-page p{
  padding: 3rem 0;
  text-align: center;
}



/* TABLET SIZE */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  /* IMAGES TABLET */

  .hero-image-small {
    padding: 1.6rem 5rem 6.4rem;
  }

  /* OLD DESIGN FORMAT */
  .services-image {
    height: 25.7rem;
    width: 35.4rem;
    object-fit: cover;
  }

  .field-services-image{
    height: 25.7rem;
    width: 35.4rem;
    object-fit: cover;
  }

  /* HEADER TABLET */

  /* ORIGINAL HEADER */
  /* header {
    padding-left: 5rem;
    padding-right: 4rem;
    justify-content: space-between;
  } */

  /* ORIGINAL HEADER */
  /* .menu-dropdown {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  } */

  /* NEW HEADER */
  /* .header {
  background-color: #fff;
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  position: fixed;
  width: 100%;
  z-index: 3;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #fff;
}

.header li a {
  display: block;
  padding: 20px 20px;
  border-right: 1px solid #f4f4f4;
  text-decoration: none;
}

.header li a:hover {
  background-color: #f4f4f4;
}

.header .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
}

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
} */

  /* NEW HEADER END */
 
  /* NEW HEADER 2 */

  

  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
/* NEW HEADER 2 END */

/* CONTACT FORM */
.contact-form-box{
  margin: auto;
  width: 47rem;
}

  /* FOOTER TABLET */

  .footer-logo {
    margin: auto;
  }

  .footer-contact-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2;
    padding-left: 13rem;
  }

  section {
    /* display: grid; */
    /* grid-gap: 2rem; */
    padding-left: 6rem;
    padding-right: 6rem;
  }

  /* LANDING TABLET */

  .hero{
    padding: 5rem 0 0 11rem;
    
  }

  .landing-one {
    display: flex;
    flex-direction: column;
  }

  .landing-one-first-h3 {
    padding-bottom: 2.4rem;
    padding-left: 8.4rem;
    width: 33.4rem;
  }

  .landing-one-second-h3 {
    padding-left: 16.7rem;
    width: 33.4rem;
  }

  .landing-one p {
    margin: auto;
    max-width: 48rem;
  }

  .landing-two {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 8.4rem;
    padding-right: 8.4rem;
  }

  .column-two {
    padding-top: 30rem;
  }

  .landing-three {
    display: flex;
    flex-direction: column;
  }

  .landing-three h5 {
    padding-left: 8.4rem;
    padding-top: 6.4rem;
  }

  .landing-lab {
    padding-bottom: 4.2rem;
    padding-left: 8.4rem;
    max-width: 41rem;
  }

  .landing-three p {
    padding-bottom: 3.2rem;
    padding-left: 8.4rem;
    max-width: 50rem;
  }
  .landing-certifications {
    padding-left: 8.4rem;
    padding-right: 8.4rem;
  }

  .contact-form {
    display: flex;
    flex-direction: column;
    padding-left: 14rem;
  }

  /* TESTING TABLET */
  .organics-head {
    display: flex;
    flex-direction: column;
    padding-top: 10rem;
    margin: auto;
    max-width: 48rem;
  }

  .noun-project-organics {
    width: 30rem;
  }

  .icon-label h4 {
    margin: auto;
    width: 18rem;
  }

  .list-with-icons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr;
    grid-gap: 2rem;
    padding-bottom: 2rem;
  }

  .column-two-of-four,
  .column-four-of-four {
    padding-top: 3.2rem;
  }

  .volatile-two-and-three {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: auto;
  }

  .organics-extractables h4 {
    padding-bottom: 5.2rem;
  }

  .extractables-secondary {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .column-two-of-two {
    padding-top: 3.2rem;
  }

  .soil-vapor-secondary {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .inorganics-head {
    padding-bottom: 0;
  }

  .inorganics-metals-cations {
    padding-top: 0;
  }

  .inorganics-metals-cations h3 {
    padding-bottom: 0;
  }

  .metals-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 28rem;
    padding-bottom: 2.4rem;
  }

  .metal-two {
    padding-top: 20rem;
  }

  .wet-chemistry-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  /* SERVICES TABLET */

  /* FIX THIS WITH CAROUSEL, OTHERWISE DONE BY REMOVING COMMENTS BELOW */
  .services-offered {
    /* display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem; */
    padding-top: 6.4rem;
  }

  .methods-list
  .list-with-icons {
    display: block;
  }

  /* .mobile-laboratory .field-services .rapid-response {
    padding-left: 5rem;
  } */

  .mobile-laboratory h3 {
    text-align: left;
  }

  .rapid-response h3 {
    text-align: left;
  }
  .field-services h3 {
    text-align: left;
  }

  .pls-truck {
    height: 26.4;
    object-fit: cover;
  }

  .rapid-response-scientist {
    height: 26.4;
    object-fit: cover;
    /* width: 39.7rem; */
  }

  .mobile-laboratory p {
    /* max-width: 48rem; */
  }

  /* RESOURCES TABLET */

  .resources-hero {
    padding: 0 5rem 6.4rem;
  }

  .resource-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 3rem 0;
  }

.resources-list, .list-with-icons{
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 0;
}

  /* ABOUT US TABLET */

  .about-us-hero {
    padding: 3.2rem 5rem 6.4rem;
   
  }

  .value,
  .rocket,
  .briefcase,
  .scroll {
    display: block;
    margin: auto;
  }

  .company-values {
    padding: 0rem 10rem 6rem;
  }

  .history {
    padding: 6rem 10rem;
  }

  .careers {
    padding: 6rem 10rem;
  }

  .mission {
    padding: 6rem 10rem;
  }

  .mission-quote {
    float: right;
    margin-top: 6.4rem;
    width: 35rem;
  }

  .careers {
    padding: 6rem 10rem;
  }
  .se-family-light {
    text-align: center;
  }

  /* 404 */


.error-page h1{
  padding-top: 16rem;
}

.error-page img{
  padding-top: 8rem;

}

.error-page p{
  padding: 3rem 0;
}
}

/* DESKTOP SIZE */

/* ----------- Non-Retina Screens ----------- */
@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
  /* DESKTOP IMAGES */

  /* DESKTOP HEADER */

  /* ORIGINAL HEADER */

  /* header {
    padding-left: 9rem;
    padding-right: 9rem;
  } */

  /* ORIGINAL HEADER */
  /* .menu-dropdown {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  } */

  /* DESKTOP FOOTER */
  .footer-logo {
    margin: auto;
    padding-bottom: 3.2rem;
  }

  .footer-contact-list {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-left: 10rem;
    padding-right: 10rem;
  }

  .back-to-top {
    padding-bottom: 4rem;
  }

  /* CONTACT FORM */
  .contact-form-box{
    margin: auto;
   width: 62rem;
    
  }

  section {
    /* display: grid;
    grid-gap: 2rem; */
    padding-left: 9rem;
    padding-right: 9rem;
  }

  /* DESKTOP LANDING */

  .hero{
    padding-left: 20rem;
  }

  .hero{
    background-size: cover;

  }


  .landing-one-first-h3 {
    padding-left: 10rem;
    padding-bottom: 2.4rem;
  }

  .landing-one-second-h3 {
    padding-left: 21rem;
  }

  .landing-one p {
    padding-left: 42rem;
    padding-right: 21rem;
  }

  .landing-two {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-left: 20rem;
    padding-right: 20rem;
    padding-bottom: 0%;
  }

  .column-two {
    padding-top: 24rem;
  }


.landing-lab{
  padding-bottom: 4rem;
}

  .landing-three {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .landing-three-left{
    display: grid;
    grid-template-columns: 1fr;
    padding: 6rem 0;
    width: 40.6rem;
  }


  /* DESKTOP TESTING */

  .organics-head p {
    padding-left: 32rem;
    padding-right: 32rem;
  }

  .organics-volatile .list-with-icons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: auto;
  }

  .organics-extractables .list-with-icons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: auto;
  }

  .column-one-of-four li{
    display: flex;
  }

  .column-four-of-four li{
    display: flex;
  }

  .column-two-of-four {
    padding-top: 3.2rem;
  }

  .column-three-of-four {
    padding-top: 6.4rem;
  }

  .column-four-of-four {
    padding-top: 9.6rem;
  }

  .volatile-two-and-three,
  .extractables-secondary {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 3rem;
    padding-top: 3rem;
  }

  .volatile-two-and-three {
    padding-left: 32rem;
    padding-right: 32rem;
  }

  .extractables-secondary {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .extractbles-secondary-two,
  .extractbles-secondary-four {
    padding-top: 4.2rem;
  }

  .organics-soil-vapor .list-with-icons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 32rem;
    padding-right: 32rem;
  }

  .column-two-of-two {
    padding-top: 6.4rem;
  }

  .soil-vapor-secondary {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  .vapor-secondary-two,
  .vapor-secondary-four {
    padding-top: 4rem;
  }

  .metals-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: auto;
    padding-left: 19rem;
    padding-right: 19rem;
  }

  .metal-two {
    padding-top: 13rem;
  }

  .wet-chemistry h3{
    padding-bottom: 0;
  }

  .wet-chemistry-grid {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
  }


  .wet-two,
  .wet-four,
  .wet-six,
  .wet-eight {
    padding-top: 25rem;
  }

  /* DESKTOP SERVICES */

  .services-grid{
    display: grid;
    grid-template-columns: repeat(12, 1fr)
    grid-template-rows: 2;
  }

 .services-explanation{
   padding-left: 10rem;
   max-width: 83rem;
 }


  /* #services-water-services, #services-hazardous-waste, #services-soil, #services-soil-vapor{
    width: 30rem;
  } */

  /* DONE EXCEPT FOR SLIDER CHANGE */

  .services-offered{
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 12rem;
    margin-left: 5rem; */
  }

  .services-image{
    height: 20rem;
    object-fit: cover;
  }

  .field-services-image{
    height: 20rem;
    object-fit: cover;
  }

  
  .mobile-laboratory, .field-services{
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .mobile-lab-left, .field-services-left{
    max-width: 62rem;
  }
.mobile-lab-left h3{
  text-align: left;
}

.mobile-laboratory .list-with-icons{
  padding-top: 8rem;
}

.field-services{
  justify-content: space-between;
}

.field-services-left .field-services-image{
  height: 30rem;
  object-fit: cover;
}

.field-services-left h3{
  text-align: left;
}

.rapid-response-flex h3{
  text-align: left;
}

.field-services .list-with-icons{
  padding-top: 6rem;
}


.rapid-response-flex{
  display: flex;
  flex-direction: column;
  width: 60rem;
  padding-left: 31rem;
}

  /* DESKTOP RESOURCES */

 

  .resource-grid {
    align-items: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 6rem 0;
  }

  /* DESKTOP ABOUT US  */

  .about-us-hero{
    padding: 3.2rem 21rem 5rem;
  }

  .company-values, .history, .mission, .careers{
    padding: 6.6rem 41rem;
    /* max-width: 64rem; */
    /* margin: auto; */
  }

  .rocket, .briefcase{
    display: block;
  }

  .mission-quote{
    float: right;
    margin-top: 8rem;
    width: 35rem;
  }

  .careers h2{
    text-align: center;
  }

  .careers{
  padding-bottom: 0;
  }

  .careers p{
    padding-bottom: 1.6rem;
  }


.se-family-light{
  text-align: center;
}
}

/* ----------- Retina Screens ----------- */
@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
  /* LANDING */

  /* TESTING */

  /* SERVICES */

  /* RESOURES */

  /* ABOUT US */
}
